@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:200);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300);

$border-icons      : #007095;
$background-body   : #F3F3F3;
$background-footer : #363839;
$text-body         : #FFF;
$text-header       : #FFF;
$text-footer       : #FFF;

@mixin br($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  font-family : 'Open Sans', sans-serif;
  font-weight : 300;
  color       : $text-body;
}

h1, h2, h3 {
  color: $text-body;
  small {
    color: darken($text-body, 20%);
  }
}

.wrapper {
  height   : 100%;
  height   : 100%;
  margin   : 0 auto;
  overflow : hidden;
}

.circle {
  position          : relative;
  width             : 100px;
  height            : 100px;
  bottom            : 200px;
  margin            : 0 auto;
  background-color  : rgba(255,255,255,0.6);
  color             : $background-footer;
  -webkit-animation : bounce 2.0s infinite ease-in-out;
  animation         : bounce 2.0s infinite ease-in-out;
  @include br(50px);
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.7) }
  50% { -webkit-transform: scale(1.0) }
}

.arrow:before {
  content     : "\f103";
  font-family : FontAwesome;
  font-size   : 72px;
}

/*==============================
=            HEADER            =
==============================*/

    #logo {
      background        : url('../img/bcn2.jpg') 0 0 no-repeat fixed !important;
      box-shadow        : 0 4px 10px darken($background-body, 5%);
      color             : #fff;
      height            : 100%;
      background-size   : auto 100%;
    }

    #header {
      z-index          : 1;
      padding          : 20px 50px;
      width            : 100%;
      position         : absolute;
      background-color : rgba(0,0,0,0.4);
      top              : 20px;
      text-align       : center;
      h1 {
        text-shadow : 0 0 15px #333;
        color       : $text-header;
        margin      : 0;
        font-family : 'Raleway', sans-serif;
        font-weight : 200;
        .ite {
          color       : #fff;
          font-family : 'Open Sans', sans-serif;
          font-style  : bold;
          font-weight : 300;
        }
      }
    }

/*-----  End of HEADER  ------*/


/*=================================
=            CONTAINER            =
=================================*/

    section {
      text-align  : center;
      margin      : 30px auto;
      font-family : 'Open Sans', sans-serif;
      font-weight : 300;
      font-size   : 18px;
      height      : 100%;
      margin-top  : 0 !important;
      h2 {
        font-family : 'Raleway', sans-serif;
        font-weight : 200;
        font-size   : bold;
        margin      : 30px;
      }
    }

    form {
      input, textarea, a {
        @include br(5px);
        font-family : 'Open Sans', sans-serif;
        font-weight : 300;
        font-size   : 18px;
        border      : 1px solid #ccc;
        outline     : none;
        &:focus {
          box-shadow: 0 0 8px #ccc;
        }
      }
      input[type=submit] {
        font-family : "Open Sans", sans-serif;
        font-size   : 25px;
      }
    }

    textarea {
      resize: none;
    }

    #formulario {
      background      : url('../img/bcn.jpg') 0 0 no-repeat;
      background-size : auto 100%;
    }

    .fuente {
      float: right;
    }

    #informacion p {
      text-align  : justify;
      font-family : "Merriweather", Georgia, "Times New Roman", serif;
      font-weight : 300;
    }

    .pregunta {
      @include br(100px);
      margin   : 0 auto;
      width    : 200px;
      height   : 200px;
      border   : 5px solid $border-icons;
      position : relative;
      &::before {
        content    : "";
        background : url('../img/torre-mapfre.jpg');
        opacity    : 0.55;
        top        : 0;
        left       : 0;
        bottom     : 0;
        right      : 0;
        position   : absolute;
        z-index    : -1;
        @include br(100px);
      }
      i {
        color     : $border-icons;
        font-size : 6.5em;
      }
    }

    .absolute-center {

      /* Internet Explorer 10 */
      display:-ms-flexbox;
      -ms-flex-pack:center;
      -ms-flex-align:center;

      /* Firefox */
      display:-moz-box;
      -moz-box-pack:center;
      -moz-box-align:center;

      /* Safari, Opera, and Chrome */
      display:-webkit-box;
      -webkit-box-pack:center;
      -webkit-box-align:center;

      /* W3C */
      display:box;
      box-pack:center;
      box-align:center;

    }

/*-----  End of CONTAINER  ------*/



/*==============================
=            FOOTER            =
==============================*/

    footer {
      position         : absolute;
      bottom           : 0;
      width            : 100%;
      height           : 50px;
      background-color : $background-footer;
      display          : table;
      h3 {
        display        : table-cell;
        vertical-align : middle;
        text-align     : center;
        font-family    : 'Open Sans', sans-serif;
        font-weight    : 300;
        font-size      : 14px;
        color          : $text-footer;
      }
    }

/*-----  End of FOOTER  ------*/

